# copyrighted abstracts + coder outputs stay local; never push to a public remote
data/raw/
data/sanitized/
data/coded/
data/battery/
!data/**/.gitkeep
.env
.env.*
!.env.example
*.swp
__pycache__/
*.pyc
data/criterion/
